.label_tooltip {
    background-color: rgba(255, 255, 255, 1);
    font-family: "Lora", sans-serif;
    font-weight: 600;
    font-size: 8pt,
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.leaflet-tooltip-left.label_tooltip::before {
    border-left-color: white;
    opacity: 1;
}

.leaflet-tooltip-right.label_tooltip::before {
    border-right-color: white;
    opacity: 1;
}